img{
    width: 20%;
}
body{
    text-align:center;
}

header{
    background-color: #007EA7;
}

.colaboraciones{
    background: #00A8E8;
    border-top: 30px black solid;
    border-bottom: 30px black solid;
}

*{
    font-family: 'Tw Cen MT','Arial';
}