ul.navega li {
    display: inline;
    padding-right: 0.5em;
    align-items: center;
  }
  #menu #desple{
    display: none;

}
#menus :hover #desple{
    display: block;
}
header{
    height: 100px;
    
    width: 100%;
    z-index: 10;
    position: fixed;

    padding: 1rem;
    padding-top: 1rem;
    background-image: linear-gradient(90deg, rgb(105, 104, 104), #2b2c2c);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    
   
}
body{
    background-color: white;
}
img{
        float: left;
        text-align: left;
        height: 150px;
        width: 150px;
        transform: translate(0%,-20%);
}
textarea{
    background-color:rgba(71, 211, 134, 0.842);
    height: 200px;
    color: white;
}
h3{
    text-align: center;
    padding-bottom: 5rem;
    color: tomato;
}